# ================================
# Python Virtual Environment
# ================================
.venv/
venv/

# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Spark
# ================================
spark-warehouse/
metastore_db/
derby.log

# ================================
# macOS
# ================================
.DS_Store

# ================================
# VS Code
# ================================
.vscode/*.code-workspace